<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<p>Game Status: <%= @game.status %></p>

<div class='container'>
  <% @squares.each do |square| %>
    <a onclick='playSquare(<%= square.id %>)'>
      <div class='square' id='<%= square.id %>'>
        <%= square.id %>
      </div>
    </a>
  <% end %>
</div>
