// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  height: 30px;
  width: 30px;
  margin: 1px;
  border-style: solid;
  background: rgb(70, 70, 255);
}

.status-container {
  height: 35px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 380px;
  flex-wrap: wrap;
}

.hit {
  background: red;
}

.miss {
  background: gray;
}

.disable-click {
  pointer-events: none;
}

.blur-grid {
  filter: blur(2px);
}